body {
    font-family: Arial, sans-serif;
    background-color: #252636;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm {
    margin: 20px;
}

.cityInput {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #828fbd;
    color: white;
    border: 2px solid #68729c;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #6877b1;
    border: 2px solid #4f5672;
}

.card {
    background: linear-gradient(180deg, #66668a, #3d3d54);
    padding: 50px;
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 1s ease, color 1s ease;
}

h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}

.zipDisplay {
    margin-top: -25px;
}

.feelDisplay {
    font-size: 2.5rem;
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay {
    font-style: italic;
    font-weight:bold;
    font-size: 2rem;
}

.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.sunny {
    background: linear-gradient(120deg, #f6d365, #fda085);
    animation: sunnyMove 6s infinite alternate;
}

@keyframes sunnyMove {
    from { background-position: 0% 50%; }
    to   { background-position: 100% 50%; }
}

.cloudy {
    background: linear-gradient(120deg, #757f9a, #d7dde8);
    animation: cloudyMove 8s infinite alternate;
}

@keyframes cloudyMove {
    from { background-position: 0% 50%; }
    to   { background-position: 100% 50%; }
}

.rainy {
    background: linear-gradient(120deg, #4e54c8, #8f94fb);
    animation: rainyMove 5s infinite alternate;
}

@keyframes rainyMove {
    from { background-position: 0% 50%; }
    to   { background-position: 100% 50%; }
}

.stormy {
    background: linear-gradient(120deg, #232526, #414345);
    animation: stormyMove 4s infinite alternate;
}

@keyframes stormyMove {
    from { background-position: 0% 50%; }
    to   { background-position: 100% 50%; }
}

.snowy {
    background: linear-gradient(120deg, #e0eafc, #cfdef3);
    animation: snowyMove 7s infinite alternate;
}

@keyframes snowyMove {
    from { background-position: 0% 50%; }
    to   { background-position: 100% 50%; }
}